* {
    -white: #FFFFFF;
    -white-off: #FFF8F0;
    -white-pink: #E8E0F5;
    -pink: #D8CBEA;
    -pink-light: #D6C9EC;
    -purple-darker: #57318A;
    -brown-light: #EBCA9E;
    -brown: #DBA051;
    -brown-dark: #3D2B1F;
    -red: #C0392B;
}

.root {
    -fx-background-color: rgb(255 255 255 / 0);
    -fx-background-image: url("assets/recipe-book-background-cat.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-text-fill: -brown-dark;
}

.label-title {
    -fx-font-family: Forte;
    -fx-text-fill: -brown-dark;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: -brown-light;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 7px 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: -brown-darker;
}

.button-secondary {
    -fx-background-color: -white-pink;
    -fx-text-fill: -brown;
}

.button-secondary:hover {
    -fx-background-color: -brown-light;
}

.text-field, .text-area, .combo-box {
    -fx-font-family: Segoe Print;
    -fx-background-color: -white;
    -fx-border-color: -brown-dark;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px 2px;
    -fx-cursor: hand;
}

.list-view {
    /*-fx-background-color: transparent;*/
    -fx-border-color: none;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.list-cell:hover {
    -fx-background-color: -brown;
    -fx-text-fill: -brown-dark;
}

/*.list-cell:filled:selected {*/
/*    -fx-background-color: -brown;*/
/*    -fx-text-fill: -brown;*/
/*}*/

.error-label {
    -fx-text-fill: -red;
    -fx-font-size: 11px;
}